
@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');
$default-border-color: #b9b9b9;
$brand-color: #66c93e;


html {
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #404040;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default;
}

.table-bordered thead th, .table-bordered thead td {
  font-weight: 500;
}

thead tr {
  border-bottom: 1px solid #eaeaea;
}

tbody tr {
  border-bottom: 1px solid #f3f3f3;
}

tbody {
  color: #5d5353;
}

b {
  font-weight: 600;
}

a {
  color: #404040;

  &:hover {
    color: #2d9c00;
  }
}

.vertical-align-sub {
  vertical-align: sub;
}

.table th, .table td {
  vertical-align: middle;
  padding: 0.4rem;
  border: none !important;
}

.table thead th {
  border: none;
}

.inboxDocTable thead th:nth-child(2)  {
  padding-left: 0 ;
}

.inboxDocTable tbody td:nth-child(1)  {
  div {
    border: none !important;
    padding-left: 33px;
  }
}

.inboxDocTable tbody td:nth-child(2)  {
  padding-left: 0;
}


table td:nth-child(6), table thead th:nth-child(6)  {
  width: 162px;
  text-align: center;
}

.inbox-document-tabs table tbody tr:hover {
  cursor: pointer;
}

.counter-parties-table {
  thead {
    tr {
      th:nth-child(2) {
        width: 115px;
      }
      th:nth-child(3) {
        width: 115px;
      }
    }
  }
}

.badge {
  padding: 0.5rem !important;
  border-radius: 10rem;
}

.smallButtonIconSize {
  width: 15px;
  height: 15px;
}

#app {
  height: 100%;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #edf0f5;
}

#header .logo {
  margin-left: 20px;
  width: 180px;
}

#header {
  .header-nav {
    background: transparent !important;
    padding-left: 50px;
    padding-top: 12px;
    .row {
      width: 87%;
    }
    #nav-collapse {
      justify-content: flex-end;
    }
    .header-tools {
      padding-top: 5px;
      svg {
        width: 30px;
        height: 30px;
        padding: 5px;
        color: #a5a5a5;
        border-radius: 5px;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
    .content-search {
      .input-group {
        border: 1px solid #eee;
        border-radius: 20px;
        width: 380px;
        background: #f8f9fa;
        margin-left: 34px;
        input {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background: #f8f9fa;
          border: none;
          font-size: 12px;
        }

        .input-group-text {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          background: #f8f9fa;
          border: none;
            svg {
              width: 17px;
            }
        }
      }
    }
  }
}

//form like perosnal settings
.form-control, .custom-select, .multiselect__tags, .multiselect__input{
  background: #f7f7f7;
}

  .form-control:focus {
    color: #665c70;
    background-color: #fff;
    border-color: #7984d2 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(51, 111, 153, 0.25) !important;
  }

  .custom-select:focus {
    color: #665c70;
    background-color: #fff;
    border-color: #7984d2 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(51, 111, 153, 0.25) !important;
  }

.logo-sidebar {
  height: 68px;
  border-bottom: 1px solid rgba(248,249,250,.05);

  img {
    width: 53%;
    margin: 17px;
  }
}

.lightgray-button {
  background-color: #edf0f5;
  border-color: $default-border-color;
  color: #28282d;
  padding: 0;

  & svg {
    color: #6b6868;
    padding: 2px;
  }

  &:hover {
    background-color: #f7f7f7;
    border-color: $default-border-color;
    color: #28282d;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: #edf0f5;
    border-color: #edf0f5;
    color: #495057;
  }

  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 213, 218, 0.49);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 213, 218, 0.49);
  }
}

.default-success-button {
  background-color: $brand-color;
  border-color: $brand-color;

  &:hover {
    background-color: #73d04d;
    border-color: $brand-color;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $brand-color;
    border-color: $brand-color;
  }

  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.28);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.28);
  }
}

.content-body-header .btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #edf0f5;
  color: #28282d;
}

.content-page {
  padding: 10px;
}

.content-body-header {
  & .btn-secondary:focus {
    box-shadow: none;
  }

  & .pagination {
    margin-bottom: 0;
  }
}

.page-link {
  color: #28282d;
}

.router-link-drop:hover {
  color: #404040;
}

.table-router-link:hover {
  text-decoration: none;
  color: #404040;
}

.router-link-button {
  color: whitesmoke;

  &:hover {
    color: white;
  }

}

.action-icon {
  color: rgba(91, 91, 91, 1);
}

.action-icon:hover {
  cursor: pointer;
}

.icon {
  color: $brand-color;
}

.chevronLeftIcon {
  position: absolute;
  z-index: 999;
  left: 150px;
  top: 5px;
  display: none;
}

.x-circle-icon {
  display: none;
  color: #a8b7c5;
  position: absolute;
  left: 232px;
  top: 2px;
  z-index: 99999;
  width: 15px;
  position: fixed;
}

.help-icon {
  color: $brand-color;
  cursor: pointer;
  width: 15px;
  position: relative;
  bottom: 6px;
}

.__cov-progress {
  top: 68px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #66c93e;
  background-color: #66c93e;
}

.custom-control-input:focus {
  outline: none;
}

.content-search {
  .content-search-icon {
    background: #edf0f5;
    height: 30px;
    padding: 7px ;
    border-radius: 5px !important;
    cursor: pointer;
    svg {
      width: 14px;
    }
  }

  .content-search-input {
    background: #edf0f5;
    height: 30px;
    display: none;
  }
}

.form-control:focus {
  box-shadow: none;
  border: none;
}



.second-inside-sidebar {
  z-index: 9;

  & .router-link-exact-active {
    background-color: #edf0f5;
    color: #43454b;
  }

  & .router-link {
    padding: 7px 5px 7px 20px;
    text-decoration: none;
  }
}
.sidebarOn {
  .content-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 0 15px;
    margin-bottom: 15px;
    top: 66px;
    left: 255px;
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06);
    transition: 0.2s;
  }
  .header-nav {
    margin-left: 208px;
    padding-left: 50px !important;
  }
}

.offSidebar {
  .header-nav {
    margin-left: 74px;
    transition: 0.1s;
  }
}

#header {
  .header-nav {
    padding-left: 20px;
    transition: 0.2s;
  }
}

.offSidebar {
  .content-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 0 15px;
    margin-bottom: 15px;
    top: 66px;
    left: 74px;
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06);
    transition: 0.2s;
  }
}

//modal

.canelMdoal {
  p {
    padding:9px 18px;
    background:#fbfbfb;
    border-radius:2px;
    cursor: pointer;
    font-size:12px;
    border:1px solid #f3f2f1;
    color: #676666;
    margin: 0;
    font-weight: 700;
    &:hover {
      background: #f3f2f1;
    }
  }
}

.closeModal {
  p {
    padding: 9px 18px;
    background: #66c93e;
    color: white;
    margin: 0;
    margin-right:5px;
    border-radius: 2px;
    cursor: pointer;
    font-size:12px;
    font-weight: 700;
    &:hover {
      background: #5db738;
    }
  }
}

.modal-content {
  border-radius: 0.2rem;    
  .modal-header {
    padding: 24px 24px;
    border: none !important;
    .close {
      color: black;
      padding: 0 !important;
    }
    .modal-title {
      color: #383c42;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .modal-body {
    padding: 0px 24px;
    padding-bottom: 24px;
  }

  .footer-modal {
    div {
      display: flex;
      justify-content:flex-end;
    }
  } 
}

.table-body {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  top: 53px;
  right: 0;
  left: 0;
}

.table-body::-webkit-scrollbar {
  width: 5px;
}

.table-body::-webkit-scrollbar-button {
  display: none
}

.table-body::-webkit-scrollbar-track-piece {
  background: white;
}

.table-body::-webkit-scrollbar-thumb {
  background: #9aa2af;
  border-radius: 5px;
}


.table-body::-webkit-scrollbar-thumb:hover {
  background: #848b96;
}

.content-header {
  background: white ;
  position: relative;
  top: 0;
}

.tool-bar {
  box-shadow: 0 1px 15px 1px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}

.collapse-doc-show {
  display: none;
}

.w-fill-content {
  width: fit-content;
}

.action-list {

  .counter-tool {
    padding: 12px;

    svg {
      width: 15px;
      color: #6c757d;
    }
  }

  .page {
    padding: 8px 12px;

    svg {
      width: 15px;
    }

  }

  .counter-tool:hover {
    background:rgba(0,0,0,0.05);
  }

  .hover-effect-active {
    &:hover {
      background:rgba(0,0,0,0.05);
    }
  }
  .tool-actions {
    padding: 13px 12px;
    transition: all .3s ease;

    span {
      margin-left: 6px;
    }

    svg {
      width: 15px;
    }

  }
}

.no-title {
  .content-body {
    top: 66px !important;
    .table-body {
      top: 15px !important;
    }
  }
}

.title-page {
  .content-header {
    h5 {
      padding: 13px !important;
    }
  }
}

.title-border {
  width: 0.8px;
  background: #34495e;
  height: 24px;
  margin: 14px 0px;
  float: left;
  margin-left: 1px;
  margin-right: 11px;
}

.table th, .table td {
  vertical-align: middle;
  padding: 0.4rem ;
  border: none !important;
}

.title-text {
  color: #34495e;
  padding: 10px 17px;
  margin: 0;
  float: left;
  padding-top: 15px;
}

.text-disabled {
  color: #dadada;
}

.border-bottom-tool {
  border-bottom: 0.1px solid #d4d4d4 !important;
}

.h-panel {
  border: 1px solid #E0E0E0;

  .panel-heading {
    padding: 8px 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #E0E0E0;

    svg {
      cursor: pointer;

      &:hover {
        color: green;
      }
    }

    span {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .panel-body {
    padding: 30px;

    .list-group-item {
      font-size: 14px;
    }
  }
}

.inbox-document-tabs {
  div:first-child {
    border-bottom: 1px solid #e0e0e0;
  }
  ul {
    width: 50%;
    li {
      text-align: left !important;
    }
  }

  .tab-pane {
    border: none !important;
  }
}
.document-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: $brand-color;
  background: transparent !important;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-weight: bold;
}



.document-tabs .nav-link:hover {
  border: none;
}

.document-tabs .nav-link {
  text-transform: uppercase;
  font-size: 11px !important;
}

.nav-tabs {
  border: none;
}


.document-tabs .nav-tabs .nav-link {
  border-bottom: 4px solid #dedada;
  font-size: 15px;
  margin-right: 8px;
  padding-top: 12px;
}

.scrollTable {
  max-height: 80vh !important;
}
