$default-border-color: #b9b9b9;
$brand-color: #66c93e;
html {
  height: 100%;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #404040;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer !important;
}

.table-bordered thead th, .table-bordered thead td {
  font-weight: 500;
}

b {
  font-weight: 600;
}

a {
  color: #404040;

  &:hover {
    color: #2d9c00;
  }
}

#app {
  height: 100%;
}

#wrapper {
  margin-left: 276px;
  position: relative;
  top: 66px;
  //min-height: calc(100% - 85px);
}

#header .logo {
  margin-left: 20px;
  width: 180px;
}

.lightgray-button {
  background-color: #edf0f5;
  border-color: $default-border-color;
  color: #28282d;
  padding: 3px;

  &:hover {
    background-color: #f7f7f7;
    border-color: $default-border-color;
    color: #28282d;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: #edf0f5;
    border-color: #edf0f5;
    color: #495057;
  }

  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 213, 218, 0.49);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 213, 218, 0.49);
  }
}

.default-success-button {
  background-color: $brand-color;
  border-color: $brand-color;

  &:hover {
    background-color: #73d04d;
    border-color: $brand-color;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $brand-color;
    border-color: $brand-color;
  }

  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.28);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.28);
  }
}

.content-body-header .btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #edf0f5;
  border-color62cb31: $default-border-color;
  color: #28282d;
}

#fixed-content-header {
  padding: 10px;
  background-color: white;
  position: fixed;
  width: calc(100% - 276px);
  z-index: 99;
  border-bottom: 1px solid #e4e5e7;
}

.content-header {
  padding: 10px;
  font-size: 21px;
}

.content-body {
  padding-bottom: 20px;
  overflow: hidden;
}

.content-body-header {
  & .btn-secondary:focus {
    box-shadow: none;
  }

  & .pagination {
    margin-bottom: 0;
  }
}

#scroll-content-body {
  padding-top: 48px;
  overflow-y: scroll;
  height: 93vh;
}


.page-link {
  color: #28282d;
}

.action-icon:hover {
  cursor: pointer;
  color: $brand-color;
}

.action-icon-delete {
  &:hover {
    color: #ea4f4f;
  }
}

.help-icon {
  color: $brand-color;
  cursor: pointer;
  width: 15px;
  position: relative;
  bottom: 6px;
}

.__cov-progress {
  top: 68px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #66c93e;
  background-color: #66c93e;
}

.custom-control-input:focus {
  outline: none;
}

.second-inside-sidebar {
  & .router-link-exact-active {
    background-color: #edf0f5;
  }

  & .router-link {
    padding: 7px 5px 7px 20px;
    text-decoration: none;
  }
}

.h-panel {
  border: 1px solid #E0E0E0;

  .panel-heading {
    padding: 8px 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #E0E0E0;

    svg {
      cursor: pointer;

      &:hover {
        color: green;
      }
    }

    span {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .panel-body {
    padding: 30px;

    .list-group-item {
      font-size: 14px;
    }
  }
}
