@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');

$default-border-color: #b9b9b9;
$brand-color: #66c93e;


html {
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857;
  color: #404040;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default;
}

.table-bordered thead th, .table-bordered thead td {
  font-weight: 500;
}

.bg-none {
  background: none !important;
}

thead tr {
  border-bottom: 1px solid #eaeaea;
}

tbody tr {
  border-bottom: 1px solid #f3f3f3;
}

tbody {
  color: #5d5353;
}

b {
  font-weight: 600;
}

a {
  color: #404040;

  &:hover {
    color: #2d9c00;
  }
}

.vertical-align-sub {
  vertical-align: sub;
}

.table th, .table td {
  vertical-align: middle;
  padding: 0.4rem;
  border: none !important;
}

.table thead th {
  border: none;
}

.inboxDocTable thead th:nth-child(2) {
  padding-left: 0;
}

.inboxDocTable tbody td:nth-child(1) {
  div {
    border: none !important;
    padding-left: 33px;
  }
}

.inboxDocTable tbody td:nth-child(2) {
  padding-left: 0;
}

.inbox-document-tabs table tbody tr:hover {
  cursor: pointer;
}

.counter-parties-table {
  thead {
    tr {
      th:nth-child(2) {
        width: 115px;
      }

      th:nth-child(3) {
        width: 115px;
      }
    }
  }
}

.badge {
  padding: 0.5rem !important;
  border-radius: 10rem;
}

.smallButtonIconSize {
  width: 15px;
  height: 15px;
}

#app {
  height: 100%;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #edf0f5;
}

#header .logo {
  margin-left: 20px;
  width: 180px;
}

.menu-icon-header {
  width: 74px;
  color: white !important;
  height: 74px;
  padding: 25px;
}

.second-inside-sidebar {
  .logo-in-sidebar {
    width: 100%;
    padding: 18px 15px
  }
}

.firstSidebarVisible {
  .content-body {
    left: 0 !important;
  }

  .header-nav {
    padding-left: 15px !important;
  }
}

.open {
  padding-right: 285px !important;
  left: 285px !important;
}

#header {
  .header-nav {
    background: transparent !important;
    padding-top: 12px;
    transition: 0.2s;

    .row {
      width: 87%;
    }

    #nav-collapse {
      justify-content: flex-end;
    }

    .header-tools {
      padding-top: 5px;

      svg {
        width: 30px;
        height: 30px;
        padding: 5px;
        color: #a5a5a5;
        border-radius: 5px;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }

    .header-logo {
      width: 211px;

      img {
        background: white;
        width: 179px;
        padding: 6px 15px 0 16px;
      }
    }

    .content-search {
      .input-group {
        border: 1px solid #eee;
        border-radius: 20px;
        width: 380px;
        background: #f8f9fa;

        input {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background: #f8f9fa;
          border: none;
          font-size: 15px;
        }

        .input-group-text {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          background: #f8f9fa;
          border: none;

          svg {
            width: 17px;
          }
        }
      }
    }
  }
}

.register {
  .enter-to-system {
    button {
      width: -webkit-fill-available !important;
    }
  }
  .register-block {
    width: 590px !important;
    .input-block {
      width: 490px !important;
    }
  }
}

.registration-page {
  display: flex;
  flex-direction: column;
  background: #34495e;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  .register-line {
    background: white;
    position: relative;
    height: 2px;
    width: 320px;
    bottom: 0;
    border-radius: 100%;
    top: 200px;
  }
  .register-block {
    background: white;
    border-radius: 5px;
    width: 390px;
    position: relative;
    top: 190px;
    height: auto;
    box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.75);
    h1 {
      text-align: center;
      font-size: 24px;
      padding-top: 24px;
    }
    .input-block {
      width: 300px;
      margin: 0 auto;
    }
  }
  .registr-logo {
    position: absolute;
    img {
      position: relative;
      width: 215px;
      top: 105px;
    }
  }
  .have-account {
    .text {
      color: #999;
    }
    .text-registr {
      a {
        color: #28a745 !important;
        cursor: pointer;
      }
    }
  }

  .registr-button {
    padding-top: 33px;
  }

  .faktura-select {
    margin-bottom: 33px;
    .vs__dropdown-toggle {
      border: none;
      border-bottom: 3px solid #e2e2e2;
    }
    label {
      top: -20px !important;
    }
  }

  .forgot-password {
    color: #999;
    cursor: pointer;
    text-align: right;
    svg {
      width: 12px;
      margin-right: 3px;
      padding-bottom: 2px;
    }
  }

  .register-checkbox {
    .custom-control-label {
      padding-top: 3px;
    }
  }

  .back-to-sign {
    a {
      color: #64c33e;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .beauty-input {
    .disabledInput {
      label {
        top: -20px !important;
      }
    }

    .wrong-message {
      color: #dc3545;
      position: relative;
      top: 10px;
    }

    .form-control-registration {
      background: transparent !important;
    }

    .form-control-registration:focus {
      box-shadow: none !important;
    }

    .contact .form-group {
      margin-bottom: 33px;
    }
    .contact .form-control {
      border-radius: 0;
      border: none;
      border-bottom: 3px solid #e2e2e2;
      box-shadow: none;
    }

    .contact .form-control.is-invalid {
      border-bottom: 3px solid #dc3545;
    }

    .group {
      position: relative;
      margin-bottom: 45px;
    }
    input:focus {
      outline: none;
    }
    label {
      color: #999;
      font-size: 15px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      top: 0;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    input:focus ~ label,
    input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #66c93e;
    }

    input.is-invalid:focus ~ label,
    input.is-invalid ~ label {
      color: #dc3545;
    }

    input.is-invalid:focus ~ label,
    inputis-invalid:valid ~ label {
      color: #dc3545;
    }

    .bar {
      position: relative;
      display: block;
      width: 100%;
    }
    .bar:before,
    .bar:after {
      content: '';
      height: 4px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: #66c93e;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    .bar.is-invalid:before,
    .bar.is-invalid:after {
      background: #dc3545;
    }

    .bar:before {
      left: 50%;
    }
    .bar:after {
      right: 50%;
    }
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
      width: 50%;
    }
    .highlight {
      position: absolute;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
    /* active state */

    input:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
    /* ANIMATIONS ================ */

    @-webkit-keyframes inputHighlighter {
      from {
        background: #5264AE;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @-moz-keyframes inputHighlighter {
      from {
        background: #5264AE;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @keyframes inputHighlighter {
      from {
        background: #5264AE;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }
}


//form like perosnal settings
.form-control, .custom-select, .multiselect__tags, .multiselect__input {
  background: #f7f7f7;
}

.form-control:focus {
  color: #665c70;
  background-color: #fff;
  border-color: #7984d2 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 111, 153, 0.25) !important;
}

.custom-select:focus {
  color: #665c70;
  background-color: #fff;
  border-color: #7984d2 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 111, 153, 0.25) !important;
}

.logo-sidebar {
  height: 68px;
  border-bottom: 1px solid rgba(248, 249, 250, .05);

  img {
    width: 53%;
    margin: 17px;
  }
}

.lightgray-button {
  background-color: #edf0f5;
  border-color: $default-border-color;
  color: #28282d;
  padding: 0;

  & svg {
    color: #6b6868;
    padding: 2px;
  }

  &:hover {
    background-color: #f7f7f7;
    border-color: $default-border-color;
    color: #28282d;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: #edf0f5;
    border-color: #edf0f5;
    color: #495057;
  }

  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 213, 218, 0.49);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(210, 213, 218, 0.49);
  }
}

.default-success-button {
  background-color: $brand-color;
  border-color: $brand-color;

  &:hover {
    background-color: #73d04d;
    border-color: $brand-color;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $brand-color;
    border-color: $brand-color;
  }

  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.28);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.28);
  }
}

.content-body-header .btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #edf0f5;
  color: #28282d;
}

.content-page {
  padding: 10px;
}

.content-body-header {
  & .btn-secondary:focus {
    box-shadow: none;
  }

  & .pagination {
    margin-bottom: 0;
  }
}

.page-link {
  color: #28282d;
}

.router-link-drop:hover {
  color: #404040;
}

.table-router-link:hover {
  text-decoration: none;
  color: #404040;
}

.router-link-button {
  color: whitesmoke;

  &:hover {
    color: white;
  }

}

.action-icon {
  color: rgba(91, 91, 91, 1);
}

.action-icon:hover {
  cursor: pointer;
}

.icon {
  color: $brand-color;
}

.chevronLeftIcon {
  position: absolute;
  z-index: 999;
  left: 150px;
  top: 5px;
  display: none;
}

.x-circle-icon {
  display: none;
  color: #a8b7c5;
  position: absolute;
  left: 215px;
  top: 2px;
  z-index: 99999;
  width: 15px;
  position: fixed;
}

.help-icon {
  color: $brand-color;
  cursor: pointer;
  width: 15px;
  position: relative;
  bottom: 6px;
}

.__cov-progress {
  top: 68px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #66c93e;
  background-color: #66c93e;
}

.custom-control-input:focus {
  outline: none;
}

.content-search {
  .content-search-icon {
    background: #edf0f5;
    height: 30px;
    padding: 7px;
    border-radius: 5px !important;
    cursor: pointer;

    svg {
      width: 14px;
    }
  }

  .content-search-input {
    background: #edf0f5;
    height: 30px;
    display: none;
  }
}

.form-control:focus {
  box-shadow: none;
  border: none;
}


.second-inside-sidebar {
  display: block;
  position: fixed;
  height: 100%;
  width: 180px;
  left: 74px;
  background: white;
  font-size: 14px;
  overflow-y: auto;
  z-index: 999;
  background: white;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .06), 0 1px 4px rgba(0, 0, 0, .06);


  & .router-link-active {
    background-color: #f2f2f2;
  }

  .router-link-exact-active {
    background: #eee !important;
    background-color: #edf0f5;
    color: #43454b;
  }

  .list-group-item {
    background: transparent !important;;
  }

  a:hover {
    background: #eee;
  }
}

.second-inside-sidebar {
  & .router-link {
    padding: 7px 5px 7px 20px;
    text-decoration: none;
  }
}


.open {
  .content-body {
    left: 255px;
  }
}

.content-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  margin: 0 15px;
  margin-bottom: 15px;
  top: 66px;
  left: 74px;
  right: 0;
  bottom: 0;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .06);
  transition: 0.2s;
}


//modal

.canelMdoal {
  p {
    padding: 9px 18px;
    background: #fbfbfb;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #f3f2f1;
    color: #676666;
    margin: 0;
    font-weight: 700;

    &:hover {
      background: #f3f2f1;
    }
  }
}

.closeModal {
  p {
    padding: 9px 18px;
    background: #66c93e;
    color: white;
    margin: 0;
    margin-right: 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      background: #5db738;
    }
  }
}

.closeDeletAction {
  p {
    padding: 9px 18px;
    background: #dc4854;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #f3f2f1;
    color: white;
    margin: 0;
    font-weight: 700;

    &:hover {
      background: #dc3545;
    }
  }
}

.canelDeletAction {
  p {
    padding: 9px 18px;
    background: #fbfbfb;
    color: #828282;
    margin: 0;
    margin-right: 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      background: #f3f2f1;
    }
  }
}

.modal-content {
  border-radius: 0.2rem;

  .modal-header {
    padding: 24px 24px;
    border: none !important;

    .close {
      color: black;
      padding: 0 !important;
    }

    .modal-title {
      color: #383c42;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .modal-body {
    padding: 0px 24px;
    padding-bottom: 24px;
  }

  .footer-modal {
    div {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.table-body {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  top: 53px;
  right: 0;
  left: 0;
}


.deposit-content-table::-webkit-scrollbar {
  width: 5px;
}

.deposit-content-table::-webkit-scrollbar-button {
  display: none
}

.deposit-content-table::-webkit-scrollbar-track-piece {
  background: white;
}

.deposit-content-table::-webkit-scrollbar-thumb {
  background: #9aa2af;
  border-radius: 5px;
}

.deposit-content-table::-webkit-scrollbar-thumb:hover {
  background: #848b96;
}

.table-body::-webkit-scrollbar {
  width: 5px;
}

.table-body::-webkit-scrollbar-button {
  display: none
}

.table-body::-webkit-scrollbar-track-piece {
  background: white;
}

.table-body::-webkit-scrollbar-thumb {
  background: #9aa2af;
  border-radius: 5px;
}


.table-body::-webkit-scrollbar-thumb:hover {
  background: #848b96;
}

.content-header {
  background: white;
  position: relative;
  top: 0;
}

.content-header-deposit {
  background: white;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}

.deposit-content {
  position: absolute;
  bottom: 20px;
  top: 56px;
  right: 10px;
  left: 10px;
  overflow-y: overlay;
}

.padding-for-pages-with-table {
  padding: 9px 0px !important;

  .page-counter {
    bottom: 9px;
  }
}

.fltrBtonAct {
  background: rgba(0, 0, 0, 0.05);
}

.deposit-content-table {
  position: absolute;
  bottom: 20px;
  top: 111px;
  right: 20px;
  left: 20px;
  overflow-y: overlay;
}

.info-payers-filter-button {
  font-size: 11px;
}

.deposit-title {
  margin-top: 65px;
  color: #34495e;
  margin-bottom: 20px;
  text-shadow: 3px 5px 10px rgba(176, 176, 176, 0.67)
}

.pay-block {
  background: transparent;
  padding-top: 30px;
  border-radius: 10px;
}

.deposit-filter-collpase {
  background: #f2f2f2;
  border: none;
}

.depost-back-link {
  margin-top: 15px;
}

.deposit-body {
  border-radius: 10px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);

  .content-header-deposit {
    h4 {
      color: #6f6f6f;
    }
  }
}

.tool-bar {
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
}

.BookOpenIcon {
  position: initial !important;
}

.collapse-doc-show {
  display: none;
}

.w-fill-content {
  width: fit-content;
}

.action-list {

  .counter-tool {
    position: relative;
    padding: 0px 18px;
    border-radius: 5px;

    svg {
      position: absolute;
      top: 25%;
      right: 30%;
      color: #6c757d;
      width: 15px;
      height: 15px;
      padding: 0;
    }
  }

  .page {
    padding: 8px 12px;

    svg {
      width: 15px;
    }

  }

  .counter-tool:hover {
    background: #e4e4e4;
  }

  .hover-effect-active {
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  .cuonter-tool-actions {
    padding: 13px 12px;
    transition: all .3s ease;

    span {
      margin-left: 6px;
    }

    svg {
      width: 15px;
    }

  }

  .tool-actions {
    padding: 13px 12px;
    transition: all .3s ease;

    span {
      margin-left: 6px;
    }

    svg {
      width: 15px;
    }

  }
}

.page-counter {
  position: relative;
  bottom: 6px;
}

.no-title {
  .content-body {
    top: 66px !important;

    .table-body {
      top: 15px !important;
    }
  }
}

.title-page {
  .content-header {
    h5 {
      padding: 13px !important;
    }
  }
}

.title-border {
  width: 0.8px;
  background: #34495e;
  height: 24px;
  margin: 14px 0px;
  float: left;
  margin-left: 1px;
  margin-right: 11px;
}

.table th, .table td {
  vertical-align: middle;
  padding: 0.4rem;
  border: none !important;
}

.title-text {
  color: #34495e;
  padding: 10px 17px;
  margin: 0;
  float: left;
  padding-top: 15px;
}

.text-disabled {
  color: #dadada;
}

.border-bottom-tool {
  border-bottom: 0.1px solid #d4d4d4 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.h-panel {
  border: 1px solid #E0E0E0;

  .panel-heading {
    padding: 8px 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #E0E0E0;

      svg {
        cursor: pointer;

        &:hover {
          color: green;
        }
      }

      span {
        font-size: 20px;
        font-weight: 400;
      }
    }

  .panel-body {
    padding: 30px;

    .list-group-item {
      font-size: 14px;
    }
  }
}

.inbox-document-tabs {
  div:first-child {
    border-bottom: 1px solid #e0e0e0;
  }

  ul {
    width: 50%;

    li {
      text-align: left !important;
    }
  }

  .tab-pane {
    border: none !important;
  }
}

.document-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: $brand-color;
  background: transparent !important;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-weight: bold;
}


.document-tabs .nav-link:hover {
  border: none;
}

.document-tabs .nav-link {
  text-transform: uppercase;
  font-size: 11px;
}

.nav-tabs {
  border: none;
}


.document-tabs .nav-tabs .nav-link {
  border-bottom: 4px solid #dedada;
  margin-right: 8px;
  padding-top: 12px;
  font-size: 9px;
}

.scrollTable {
  max-height: 80vh !important;
}
