@media all and (max-width: 1367px) {
  #header {
    .input-group {
      width: 311px !important;
    }
  }
}

@media all and (max-width: 1200px) {

  .sidebarOn {
    margin-left: 24px !important;
    padding-right: 24px !important;
  }

  .sidebarOn {
    .header-nav {
      margin-left: 0 !important;
    }
  }

  .sidebarOn {
    .content-body {
      left: 74px !important;
    }
  }

  #sidebar {
    z-index: 9999 !important;
  }

  .tool-actions {
    padding: 8px 8px !important;
    span {
      display: none;
    }
  }

  .x-circle-icon {
    display: block;
  }

  .menu-icon-header {
    display: none;
  }
}

@media all and (max-width: 1069px) {
  .add-inn-input {
    select, button {
      font-size: 10px !important;
    }
  }

  .phone-number, .email-addres {
    font-size: 10px !important;
  }

  .input-group-phone, .input-group-email {
    width: 100% !important;
  }

  .inbox-document-tabs  {
    div {
      ul {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 991px) {
  #nav-collapse {
    background: #f2f2f2 !important;
    position: absolute;
    right: 18px;
    top: 53px;
    padding: 10px;
    ul {
      li:nth-child(1) {
        margin-right: 0 !important;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .container {
    max-width: fit-content !important;
  }

  .nav-link, .fs21 {
    font-size: 12px !important;
  }

  .newdoc-tab .d-flex {
    padding: 0 !important;
  }

  .pay-input-group {
    padding: 0 !important;
  }

  .input-file-text label {
    font-size: 15px !important;
  }

  .action-icon-doc {
    width: 70px;
    height: 70px;

  }

  .action-icon {
    font-size: 8px !important;
  }

  .send-icon {
    width: 20px;
  }

  .action-describe {
    font-size: 8px !important;
  }

  .add-inn-input {
    select {
      font-size: 7px !important;
    }

    button {
      font-size: 7px !important;
      svg {
        width: 7px !important;
        height: 7px !important;
      }
    }
  }

  .wrapper {
    margin-left: 93px !important;

    .content-body {
      left: 94px !important;
    }
  }

  table {
    font-size: 9px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  .chevronLeftIcon {
    display: block;
    left: 103px !important;
    width: 18px !important;
    color: gray;
  }

  .avatar-upload {
    max-width: 118px !important;

    .avatar-preview,img {
      width: 120px !important;
      height: 120px !important;
    }
  }

  .replenishment-check-text, .replenishment-button-text {
    font-size: 10px !important;
  }

  .sign-doc {
    font-size: 10px !important;
  }
}

@media all and (max-width: 475px) {
  .nav-link {
    font-size: 8px !important;
  }

  .home-header-action {
    h6 {
      font-size: 9px !important;
      padding-top: 5px !important;
    }

    .text-right {
      a {
        font-size: 9px !important;
        padding-top: 5px !important;
      }

      svg {
        width: 15px;
      }
    }
  }


  .pay-input-group {
    padding: 0 !important;

    input {
      font-size: 10px !important;
    }

    .input-group-prepend {

      button {
        font-size: 10px !important;
      }
    }

    .input-group-text {
      font-size: 10px !important;
    }
  }
}